.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.details {
  padding: 15px 15px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.list {
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}
